/*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
    background: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

#nav {
  margin: 0;
  padding: 0;
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#imgthumb {
   padding:1px;
   border:1px solid #021a40;
   background-color: transparent;
}

#background { 
  background: url('./images/wood-texture.jpg');
  position: relative; 
  /*height: 100%;*/
  background-attachment: fixed;
  background-size: cover ;
  /*opacity: 1;*/

}


/*.ColourFilter {
  background-color:rgba(255, 255, 235, 0.9);
}*/

.WhiteFilter {
  background-color:rgba(255, 255, 255, 0.8);
}

.App {
  height: 100%
}
.Fill {

  height: 70vh;
}

.Fill2 {

  height: 140vh;
}